{% extends "backend_base.html.twig" %}
{% block title %}Venue Section{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Website Advertisment</h4>
        </div>
    </div>
{% block controlleraction %}{% endblock %}
{% endblock %}