{% if content|length > 1 %}
    {# Output a carousel #}
    <div class="carousel  slide" data-ride="carousel" data-interval="3000">
        {# Carousel indicators #}
        {% for i in 0..(content|length)-1 %}
            {% if loop.first %}
                <ol class="carousel-indicators">
                {% endif %}
                <li data-target=".carousel" data-slide-to="{{ i }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% if loop.last %}
                </ol>
            {% endif %}
        {% endfor %}

        {# Carousel items #}
        {% for item in content %}
            {% for thedata in item.data %}
                {% if loop.first %}
                    <div class="carousel-inner">
                    {% endif %}
                    <div class="thedata{% if loop.first %}  active{% endif %}">
                        {% include '@YallaWebsiteBackendBundle/views/AdsManager/_type.html.twig' with {
          type: thedata.type, 
          item: thedata
        } %}
                    </div>
                    {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    {# If there is a single item, include it #}
{% else %}

    {% include '@YallaWebsiteBackendBundle/views/AdsManager/_type.html.twig' with {
    type: (content.data|first).type, 
    item: (content.data|first)
  } %}

{% endif %}