<div id='socialLinksTitle'>
    <h5>Follow Us</h5>
</div>
<div id='socialLinksIcons'>
    {% for key,value in content %}
        <a href='{{value}}'>
            <img src="{{ asset('bundles/yallawebsitefrontend/images/base/' ~ key ~ '_sm_icon.svg') }}" alt="{{key|capitalize}} Icon" />
        </a>
    {% endfor %}
</div>

