{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block meta %}
<meta property="og:image" content="{% path entity.media, 'large' %}" />
{% endblock meta %}

{% block body %}
    <div class="wrapper">

        {%  if (entity) %}
            <div class="theEntityDiv">
                <div class="innerTitle">
                    <h1>{{entity.title}}</h1>
                </div>
                <div id="innerEntityImage">
                    {% thumbnail entity.media, 'large' with {'class': 'img-responsive'} %}
                </div>

                <div id="innerEntityContent">
                    {{ entity.content| raw }}
                </div>
            </div>
        {% endif %}

        <div class="theEntityDiv">
            <div class='socialMediaShareDiv' style="margin-top: 15px;">
                {% include '@YallaWebsiteFrontendBundle/views/Template/entitiesSocialMediaShare.html.twig' with {'name': entity.title,} %}
            </div>
        </div>

        <div class="theEntityDiv">
            <div class="fb-comments" data-href="{{app.request.uri}}" data-numposts="5" data-width='800'></div>
        </div>
    </div>
{% endblock %}