{% extends "backend_base.html.twig" %}
{% block title %}Venue Section{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Venues</h4>
        </div>
    </div>
    <div>
        <a href="{{ path ('backend_venue_new')}}"><button class="btn btn-primary create_new"><i class="fa fa-edit "></i> Create New</button></a>
        {% block extraOptions %}{% endblock %}
    </div>
{% block controlleraction %}{% endblock %}
{% endblock %}