<h5><strong>Video Selector</strong></h5>
<div class='col-md-12'>
    <div id='video_messages' style="margin-bottom: 30px;"></div>
    Youtube Link : <input type="text" name="videoLink"> <a id='video_update_button' href='#' class='btn-sm btn-default'>Update Video Link</a>    
</div>


<br/><br/><br/>