<div>
{% for ss in homepage.sliderEntities %}
    {% if class(ss) == 'Gallery' %}
        <div style="float:left">{% thumbnail ss.media, 'small' %}<br/>
            <p>{{ ss.name }}</p>
        </div>
    {% else %}
        <div style="float:left">{% thumbnail ss.media, 'small' %}<br/>
            <p>{{ ss.title }}</p></div>
    {% endif %}
{% endfor %}
</div>